body {
    background-image: url(wallpaper.jpg);

    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}   

main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    color: white;
    max-width: auto;
    
    margin-left: 480px ;
    margin-right: 200px;
    
    font-size: 30px;  
}

#button {
    max-width: auto;
    margin-left: 180px;
    font-size: 30px;
    font-family: cursive, sans-serif;

    border-radius: 10px;
    border-width: 3px;
    border-color: rgb(255, 255, 255);

    background-color: rgb(13, 4, 136);
    color: rgb(193, 192, 211);
}

#res {
    background-color: rgb(0, 102, 255);
    border-radius: 10px;
    margin-right:260px;
}